<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!--<link rel="stylesheet" type="text/css" href="/css/main.css" th:href="@{/css/main.css}"/>-->
    <!--<link rel="stylesheet" type="text/css" href="/css/footer.css" th:href="@{/css/footer.css}"/>-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <title>Planitoto</title>
</head>
<body>
<div class="main-logo col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
    <a th:href="@{~/}">
        <img class="image-responsive" src="images/logo.png" th:src="@{images/logo.png}"/>
    </a>
</div>
<nav >
    <div >
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div >
            <ul >
                <li><a th:href="@{/routes}">Huts</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
</body>
</html>