<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="../../../static/css/main.css"
          th:href="@{../css/main.css}"
          rel="stylesheet" media="screen" />
    <link href="../../../static/css/footer.css"
          th:href="@{../css/footer.css}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}">
    </script>
    <title>Planitoto</title>
</head>
<body>
	<center>
	<div>
	    <a th:href="@{~/}">
	        <img class="image-responsive" src="../images/logo.png" th:src="@{../images/logo.png}"/>
	    </a>
	</div>

			<form action="/connect/facebook" method="POST">
				<input type="hidden" name="scope" value="user_posts" />
				<div class="formInfo">
					<p>Трябва да влезете с фейсбук профила си.</p>
				</div>
				<p>

				<button type="submit" class="btn btn-primary">
					Вход с Facebook 
						<span class="fa fa-facebook"></span>
					</button>
				</p>
			</form>
	</center>
	</body>
</html>